.projectList {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
}

.projectListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem;
    position: relative;
}

.projectListTitle {
    text-align: center;
    font-size: 4rem;
    color: var(--orange);
    margin-bottom: 1rem;
}

.projectListTitleIcon {
    height: 4rem;
    width: auto;
    vertical-align: middle;
}


.projectCardTitle {
    font-size: 1.5rem;
    color: var(--orange);
}

.projectCard {
    flex: 1 1 calc(33.33% - 2rem);
    max-width: calc(33.33% - 2rem);
    box-sizing: border-box;
    position: relative;
    width: 20rem;
    height: 25rem;
    border-radius: 1rem;
    overflow: hidden;
}

.projectCardImage {
    display: block;
    width: auto;
    height: 100%;
    background-size: cover;
    transition: opacity 0.2s ease;
    z-index: 1;
}

.projectCardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.projectCardDescriptionContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--black);
    color: var(--lightgray);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    transform: scale(1.1); 
    z-index: 2; 
    cursor: pointer;
}

.projectCardTitle {
    font-size: 1.5rem;
    color: var(--white);
}

.projectCardDescription {
    font-size: 0.95rem;
    color: var(--lightgray);
    text-wrap: balance;
    margin: 0 0.5rem;
    padding: 0 1.2rem;
    line-height: 1.3;
}

.projectCardTechStack {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}

.projectCardTech {
    font-size: 1rem;
    font-weight: bold;
    background-color: rgba(255, 98, 0, 0.6);
    border-radius: 0.4rem;
    text-wrap: balance;
    padding: 0.4rem 0.3rem;
    margin: 0;
    color: var(--white);
    box-sizing: border-box;
    outline: orangered;
}

.projectCard:hover .projectCardDescriptionContainer {
    opacity: 1; 
    transform: scale(1);
    z-index: 1;
}

.highlight {
    font-weight: bold;
    color: var(--orange);
}

.moreProjects {
    font-size: 1.8rem;
    font-style: italic;
    color: var(--white);
    margin: 1rem 3rem;
    text-align: end;
}
