.projectList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 2rem;
}

.projectListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    margin: 2rem auto;
    padding: 1rem;
    position: relative;
}

.projectListTitle {
    font-size: 3rem;
    color: var(--orange);
}

.projectCardTitle {
    font-size: 1.5rem;
    color: var(--orange);
}

.projectCard {
    flex: 1 1 calc(33.33% - 4rem);
    max-width: calc(33.33% - 10rem);
    box-sizing: border-box;
    position: relative;
    width: 20rem;
    height: 30rem;
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;
}

.projectCardImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.2s ease;
    z-index: 1; 
}

.projectCardTitle {
    font-size: 1.5rem;
    color: var(--orange);
}

.projectCardDescription {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--black);
    color: var(--lightgray);
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    transform: scale(1.1); 
    z-index: 2; 
}

.projectCard:hover .projectCardImage {
    opacity: 1;
}

.projectCard:hover .projectCardDescription {
    opacity: 1; 
    transform: scale(1);
}