@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

:root {
    --black: #151515;
    --darkgray: #1E1E1E;
    --lightgray: #D0D0D2;
    --white: #F3F3F3;
    --orange: #FFBF00;
    --strongorange: #FF6200;
    --darkorange: #4D2A02;
    --linkedin-blue: #1E90FF;
    --instagram-pink: #E4405F;
}

body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to left, var(--black), var(--darkorange), var(--black));
    margin: 0;
    padding: 0;
}