.about {
    padding: 5rem 0;
}

.aboutCard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    padding: 2rem;
    max-width: 800px;
    background: var(--blacktotransparent);
    color: var(--lightgray);
    border-radius: 4rem;
    box-shadow: 1rem 1rem var(--orange);
}

.aboutTitle {
    color: var(--orange);
    font-size: 4rem;
    margin-bottom: 1rem;
    align-items: center;
}

.aboutTitleIcon {
    height: 4rem;
    width: auto;
    vertical-align: middle;
}

.aboutPicContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.aboutPic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    padding: 1rem;
}

.aboutContent {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.aboutText {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-wrap: balance;
}

@media (max-width: 1200px) {
    .aboutCard {
        flex-direction: column;
    }

    .aboutPicContainer {
        margin-right: 0;
    }
    
    .aboutPic {
        width: 50%;
        height: 50%;
    }
}