.techStackList {
    text-align: center;
    padding: 6rem 0;
}

.techStackListTitle {
    font-size: 4rem;
    color: var(--orange);
    margin-bottom: 1rem;
}

.techStackListTitleIcon {
    height: 4rem;
    width: auto;
    vertical-align: middle;
}

.techStackListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.techStack {
    background: var(--blacktotransparent);
    border-radius: 1rem;
    width: 18rem;
    padding: 2rem;
    margin: 1rem;
}

.techStackTitle {
    font-size: 2rem;
    color: var(--white);
}

.techStackTitle.frontend {
    color: var(--blue);
}

.techStackTitle.backend {
    color: var(--green);
}

.techStackTitle.devops {
    color: var(--purple);
}

.techStackCards {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    gap: 0.3rem;
}

.techStackCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33% - 0.3rem);
    height: 7rem;
}

.techStackIcon {
    max-width: 3rem;
    height: 3rem;
    object-fit: contain;
    margin: 0.1rem;
}

.techStackName {
    font-size: 1rem;
    font-weight: 500;
    color: var(--lightgray);
    padding-top: 1rem;
}
