.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    font-family: "Cabin", sans-serif;
    text-shadow: 7px 3px 2px var(--black);
}

.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("Intro/coolsunset.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(6px) brightness(0.7) contrast(1.1) grayscale(0.1);
    z-index: -1;
    outline: 3px solid var(--darkgray);
}

.introTitle, .introText {
    margin: 0.5rem;
}

.introTitle {
    color: var(--white);
    font-size: 5.5rem;
}

.introText {
    color: var(--orange);
    font-style: italic;
    font-size: 4.5rem;
}