.experienceListContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem auto;
    width: 80%;
    position: relative;
    left: 2rem;
}

.experienceListTitle {
    font-size: 3rem;
    color: var(--orange);
    text-align: center;
    padding-top: 4rem;
}

.experience {
    display: flex;
    align-items: stretch;
    position: relative;
    padding: 1rem 8rem;
}

.experience::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 60px;
    bottom: 20px;
    width: 0.7rem;
    border-radius: 10rem;
    background: linear-gradient(to bottom, var(--lightgray), var(--darkgray));
}

.experience::after {
    content: "";
    position: absolute;
    left: -8px;
    top: 50px;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--orange);
}

.experienceHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experienceTitle {
    text-wrap: balance;
    font-size: 2rem;
    color: var(--lightgray);
}

.experienceLogo {
    width: auto;
    max-width: 30rem;
    border-radius: 4rem;
    object-fit: contain;
    margin: 0 1rem;
}

.experienceContent {
    background-color: var(--black);
    padding: 3rem;
    text-wrap: balance;
    border-radius: 8rem;
}

.experienceCompany {
    font-size: 1.1rem;
    color: var(--orange);
    margin: 5px 0;
}

.experienceDuration {
    font-size: 0.9rem;
    margin: 5px 0;
    color: var(--lightgray);
}

.experiencePoints {
    list-style-type: disc;
    color: var(--lightgray);
    font-size: 1rem;
    padding-left: 4rem;
}

.experiencePoints li {
    margin: 2rem 0;
    line-height: 1.5;

}

.highlight {
    font-weight: bold;
    color: var(--orange);
}

@media (max-width: 800px) {
    .experience {
        flex-direction: column;
        padding: 1rem;
    }

    .experienceTitle {
        font-size: 1.5rem;
    }

    .experience::before {
        left: -2rem;
        width: 0.5rem;
    }

    .experience::after {
        left: -2.75rem;
        width: 2rem;
        height: 2rem;
        border-color: var(--darkgray);
    }

    .experienceLogo {
        max-width: 50%;
        margin-bottom: 1rem;
    }
}