.experienceListContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem auto;
    width: 80%;
    position: relative;
    left: 2rem;
}

.experienceListTitle {
    font-size: 3rem;
    color: var(--orange);
    text-align: center;
    padding-top: 4rem;
}

.experience {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 1rem 8rem;
}

.experience::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 60px;
    bottom: 20px;
    width: 0.7rem;
    border-radius: 10rem;
    background: linear-gradient(to bottom, var(--lightgray), var(--darkgray));
}

.experience::after {
    content: "";
    position: absolute;
    left: -10px;
    top: 50px;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--darkgray);
    background: var(--orange);
}

.experienceHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.experienceTitle {
    text-wrap: balance;
    font-size: 2rem;
    color: var(--lightgray);
}

.experienceLogo {
    width: auto;
    max-width: 30rem;
    border-radius: 2rem;
    object-fit: contain;
    margin: 0 1rem;
}

.experienceContent {
    background-color: var(--black);
    padding: 3rem;
    border-radius: 50px;
    /* box-shadow: 1rem 1rem var(--orange); */
    text-wrap: balance;
}

.experienceCompany {
    font-size: 1.1rem;
    color: var(--orange);
    margin: 5px 0;
}

.experienceDuration {
    font-size: 0.9rem;
    margin: 5px 0;
    color: var(--lightgray);
}

.experiencePoints {
    list-style-type: disc;
    color: var(--lightgray);
    font-size: 1rem;
}

.experiencePoints li {
    margin: 2rem 0;
    line-height: 1.5;
}

.highlight {
    font-weight: bold;
    color: var(--orange);
}